@tailwind base;
@tailwind components;
@tailwind utilities;

/*Title font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Colors*/
:root {
    --primary-color: #D65945;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.linkEffect {
    color:gray
}

.linkEffect:link {
  color: rgb(109, 2, 2);
  background-color: transparent;
  text-decoration: none;
}

.linkEffect:visited {
  color: #202184;
  background-color: transparent;
  text-decoration: none;
}

.linkEffect:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


.divline{
    width: 2px;
    height: 47px;
    border-bottom: 1px solid gray;
    position: absolute;
    }