@tailwind base;
@tailwind components;
@tailwind utilities;

/*Title font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Colors*/
:root {
    --primary-color: #D65945;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.linkEffect {
    color:gray
}

.linkEffect:link {
  color: rgb(109, 2, 2);
  background-color: transparent;
  text-decoration: none;
}

.linkEffect:visited {
  color: #202184;
  background-color: transparent;
  text-decoration: none;
}

.linkEffect:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    width: 13rem;
    height: auto;
}

button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1a99fd;
    border-radius: 1.625rem;
}

button .arrow_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button .arrow_icon::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button .button_text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

button:hover .circle {
    width: 100%;
}

button:hover .arrow_icon {
    background: #fff;
    transform: translate(1rem, 0);
}